<!DOCTYPE html>
<html>
	<head>
		<title>bills.com Twitter search</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<!-- Bootstrap -->
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
		<!-- incorporating jQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- your css bootstrap overrides css here -->
    <link href="{{ url_for('static', filename='css/css_overrides.css') }}" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class = "span10 row">
			<h3>bills.com Twitter search</h3>
				{% for tweet in list_10 %}
					<div id="tweet" class="span8 row content-box">
						<div id="check" class="span1 all-padding">
							<form method = "POST" action="/">
								<input type="checkbox" name="read"/>
							</form>
						</div>
						<div class="span1 img image-box">
							<img src = "{{ tweet.user_image }}"/>
						</div>
						<div class="span6">
							<a href=https://twitter.com/{{ tweet.username }} target="_blank">{{ tweet.username }}</a>:
							{{ tweet.text }}
							<a href=https://twitter.com/{{ tweet.username }}/status/{{ tweet.id_num }} target="_blank">View Tweet</a>
						</div>
					</div>
				{% endfor %}
		</div>
		<div class = "span11 row small-font padding">
			completed for <a href=http://www.bills.com/ target="_blank">bills.com</a> by <a href=https://github.com/rosettesor target="_blank">Rosette Diaz</a>
		</div>
		<script>
			$("#check").on('click', function () {
				$("#tweet").fadeTo("fast", 0.5);
			});
		</script>
	</body>
</html>